node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
logs/
.vscode/*
# package-lock.json
.DS_Store
build*
public/minified/*
node_modules/*
logs/*
yarn.lock
test-result.js
test-result.json
logs/error.log
